In [1]:
### Frequency, Energy, Vibration

In [2]:
! pip install pandas
! pip install sqlalchemy
! pip install mysql-connector-python

Requirement already satisfied: pandas in ./env/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in ./env/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in ./env/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in ./env/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in ./env/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in ./env/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: mysql-connector-python in ./env/lib/python3.10/site-packages (8.4.0)

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, Float, DateTime, MetaData, VARCHAR
from sqlalchemy import BigInteger
import os
from sqlalchemy import inspect
import dollar_bars

In [4]:
db_pass = os.getenv('DB_PASS')

In [5]:
db_pass

'mysql://doadmin:AVNS_oW0kYA-LJsBz5pksVi4@tq-training-data-do-user-13042543-0.c.db.ondigitalocean.com:25060/defaultdb?ssl=true'

In [6]:
db_pass ='mysql+mysqlconnector://doadmin:AVNS_oW0kYA-LJsBz5pksVi4@tq-training-data-do-user-13042543-0.c.db.ondigitalocean.com:25060/defaultdb'

In [7]:
def obtain_data(security):

   # ssl_args = {'ssl': {'ca': 'ca-certificate.crt'}}
    engine = create_engine(db_pass)
    # Establish a connection
    with engine.connect() as connection:
        # Execute the query and load the result into a DataFrame
        df = pd.read_sql_query("""SELECT * FROM EURUSD;""", connection)

    # Convert the 'date' column to datetime and then to Unix timestamp
    #df['Date'] = pd.to_datetime(df['Date'])
    #df['Date'] = df['Date'].apply(lambda x: x.timestamp())

    # Rename columns
   # df.rename(columns={ 'open': 'Open','high':'High', 'low':'Low', 'close':'Close', 'volume':'Volume'}, inplace=True)

    # Set 'Date' as the index
    df.set_index('Date', inplace=True)

    # Remove duplicates
    df = df[~df.index.duplicated(keep='first')]

    return df

In [8]:
df =obtain_data('EURUSD')

In [9]:
df

,Open,Low,High,Close,Volume,Asset,Asset_Type
Date,,,,,,,
2010-01-03 17:01:00,1.43008,1.43008,1.43020,1.43018,11,EURUSD,forex
2010-01-03 17:02:00,1.43009,1.42996,1.43014,1.43014,22,EURUSD,forex
2010-01-03 17:03:00,1.43010,1.43010,1.43014,1.43010,6,EURUSD,forex
2010-01-03 17:04:00,1.43003,1.42964,1.43009,1.42989,35,EURUSD,forex
2010-01-03 17:05:00,1.42983,1.42983,1.42983,1.42983,2,EURUSD,forex
...,...,...,...,...,...,...,...
2024-01-03 23:55:00,1.09270,1.09250,1.09272,1.09265,66,EURUSD,forex
2024-01-03 23:56:00,1.09263,1.09240,1.09270,1.09263,54,EURUSD,forex
2024-01-03 23:57:00,1.09259,1.09240,1.09270,1.09254,75,EURUSD,forex
2024-01-03 23:58:00,1.09256,1.09240,1.09262,1.09259,117,EURUSD,forex
2024-01-03 23:59:00,1.09258,1.09240,1.09261,1.09259,126,EURUSD,forex

In [14]:
dollar_bars.dollar_bar_creator(df,'EURUSD',10000)

KeyError: "None of ['Date'] are in the columns"